.editar-perfil-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}
.editar-perfil-container01 {
  width: 200px;
  height: 1034px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.editar-perfil-image {
  width: 100px;
  object-fit: cover;
}
.editar-perfil-container02 {
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 50px;
  display: flex;
  align-items: center;
  padding-top: 1px;
  border-color: #80ff44;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.editar-perfil-container03 {
  width: 200px;
  height: 105px;
  display: flex;
  align-items: center;
  border-color: #80ff44;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.editar-perfil-link {
  color: rgb(255, 255, 255);
  font-size: 15px;
  align-self: stretch;
  text-align: center;
  font-family: Poppins;
  line-height: 3;
  border-color: #ffffff;
  border-width: 1px;
  text-decoration:   none;
  border-left-width: 0px;
  border-right-width: 0px;
}
.editar-perfil-navlink {
  color: rgb(255, 255, 255);
  font-size: 15px;
  align-self: stretch;
  text-align: center;
  font-family: Poppins;
  line-height: 4;
  border-color: #ffffff;
  border-width: 1px;
  text-decoration: none;
  border-left-width: 0px;
  border-right-width: 0px;
}
.editar-perfil-container04 {
  width: 200px;
  height: 122px;
  display: flex;
  align-items: flex-start;
  border-color: #00bb65;
  border-width: 1px;
  flex-direction: column;
  border-top-width: 0px;
  border-left-width: 8px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.editar-perfil-navlink1 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  align-self: stretch;
  text-align: center;
  font-family: Poppins;
  line-height: 4;
  border-color: #ffffff;
  border-width: 1px;
  text-decoration: none;
  border-left-width: 0px;
  border-right-width: 0px;
}
.editar-perfil-container05 {
  width: 100%;
  height: 363px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: flex-start;
}
.editar-perfil-navlink2 {
  color: rgb(255, 255, 255);
  font-size: 15px;
  align-self: stretch;
  text-align: center;
  font-family: Poppins;
  line-height: 4;
  border-color: #ffffff;
  border-width: 1px;
  text-decoration: none;
  border-left-width: 0px;
  border-right-width: 0px;
}
.editar-perfil-navlink3 {
  color: rgb(255, 255, 255);
  font-size: 15px;
  align-self: stretch;
  text-align: center;
  font-family: Poppins;
  line-height: 4;
  border-color: #ffffff;
  border-width: 1px;
  text-decoration: none;
  border-left-width: 0px;
  border-right-width: 0px;
}
.editar-perfil-navlink4 {
  color: rgb(255, 255, 255);
  font-size: 15px;
  align-self: stretch;
  text-align: center;
  font-family: Poppins;
  line-height: 4;
  border-color: #ffffff;
  border-width: 1px;
  text-decoration: none;
  border-left-width: 0px;
  border-right-width: 0px;
}
.editar-perfil-navlink5 {
  color: rgb(255, 255, 255);
  font-size: 15px;
  align-self: stretch;
  text-align: center;
  font-family: Poppins;
  line-height: 4;
  border-color: #ffffff;
  border-width: 1px;
  text-decoration: none;
  border-left-width: 0px;
  border-right-width: 0px;
}
.editar-perfil-navlink6 {
  color: rgb(255, 255, 255);
  font-size: 15px;
  align-self: stretch;
  text-align: center;
  font-family: Poppins;
  line-height: 4;
  border-color: #ffffff;
  border-width: 1px;
  text-decoration: none;
  border-left-width: 0px;
  border-right-width: 0px;
}
.editar-perfil-container06 {
  top: 197px;
  left: 250px;
  width: 889px;
  height: 623px;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.editar-perfil-text02 {
  font-size: 60px;
}
.editar-perfil-container07 {
  flex: 0 0 auto;
  width: 887px;
  height: 20px;
  display: flex;
  align-items: flex-start;
  border-color: #ffffff;
  border-style: dashed;
  border-width: 0px;
}
.editar-perfil-container08 {
  flex: 0 0 auto;
  width: 887px;
  height: 100px;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  border-color: #ffffff;
  border-style: solid;
  border-width: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.editar-perfil-text03 {
  font-size: 20px;
}
.editar-perfil-textinput {
  width: 100%;
  height: 50%;
  text-align: left;
  border-color: #656565;
  border-width: 1px;
}
.editar-perfil-container09 {
  width: 570px;
  height: 108px;
  display: flex;
  align-self: flex-start;
  text-align: left;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.editar-perfil-text04 {
  font-family: Poppins;
  line-height: 2;
}
.editar-perfil-textinput1 {
  width: 879px;
  height: 52px;
  align-self: flex-start;
  font-family: Poppins;
  border-color: #656565;
  border-width: 1px;
}
.editar-perfil-container10 {
  flex: 0 0 auto;
  width: 887px;
  height: 100px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  border-color: #ffffff;
  border-style: solid;
  border-width: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.editar-perfil-text05 {
  font-size: 20px;
}
.editar-perfil-select {
  width: 100%;
  height: 50%;
  border-color: #656565;
  border-width: 1px;
}
.editar-perfil-container11 {
  flex: 0 0 auto;
  width: 887px;
  height: 100px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  border-color: #ffffff;
  border-style: solid;
  border-width: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.editar-perfil-text08 {
  font-size: 20px;
}
.editar-perfil-container12 {
  flex: 0 0 auto;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.editar-perfil-textinput2 {
  width: 30%;
  height: 100%;
  text-align: left;
  border-color: #656565;
  border-width: 1px;
}
.editar-perfil-select1 {
  height: 100%;
  margin-left: 10%;
  border-color: #656565;
  border-width: 1px;
}
.editar-perfil-textinput3 {
  height: 100%;
  margin-left: 10%;
  border-color: #656565;
  border-width: 1px;
}
.editar-perfil-container13 {
  flex: 0 0 auto;
  width: 887px;
  height: 50px;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  border-color: #ffffff;
  border-style: solid;
  border-width: 0px;
  flex-direction: row;
  justify-content: flex-start;
}
.editar-perfil-text09 {
  font-size: 20px;
}
.editar-perfil-checkbox {
  top: 5px;
  left: 161px;
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  position: absolute;
}
.editar-perfil-container14 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: 50px;
  display: flex;
  align-self: flex-start;
  border-color: #ffffff;
  border-style: solid;
  border-width: 0px;
  flex-direction: row;
  justify-content: flex-end;
}
.editar-perfil-navlink7 {
  display: contents;
}
.editar-perfil-get-started {
  height: 51px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  justify-content: center;
  text-decoration: none;
  background-color: #ffffff;
}
.editar-perfil-text10 {
  color: rgb(12, 16, 12);
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  line-height: 24px;
}
.editar-perfil-navlink8 {
  display: contents;
}
.editar-perfil-get-started1 {
  height: 51px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  justify-content: center;
  text-decoration: none;
  background-color: #00bb65;
}
.editar-perfil-text11 {
  color: rgb(12, 16, 12);
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
}
@media(max-width: 991px) {
  .editar-perfil-get-started {
    flex: 1;
  }
  .editar-perfil-get-started1 {
    flex: 1;
  }
}
@media(max-width: 767px) {
  .editar-perfil-get-started {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .editar-perfil-get-started1 {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
}
