.inicio-de-sesion-container {
  width: 100%;
  display: flex;
  z-index: 100;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.inicio-de-sesion-navlink {
  display: contents;
}
.inicio-de-sesion-icon {
  top: 27px;
  fill: #ffffff;
  left: 23px;
  width: 24px;
  height: 24px;
  position: absolute;
  text-decoration: none;
}
.inicio-de-sesion-container1 {
  width: 100%;
  height: 894px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.inicio-de-sesion-container2 {
  width: 261px;
  height: 119px;
  display: flex;
  align-self: center;
  text-align: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.inicio-de-sesion-image {
  width: 61px;
  height: 44px;
  object-fit: cover;
}
.inicio-de-sesion-text {
  font-size: 1.4em;
  font-style: normal;
  font-family: Poppins;
  font-weight: 700;
}
.inicio-de-sesion-text1 {
  color: #000000;
  width: 253px;
  height: 91px;
  align-self: center;
  margin-top: 0px;
  font-family: Poppins;
  line-height: 3;
}
.inicio-de-sesion-container3 {
  width: 312px;
  height: 62px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.inicio-de-sesion-text2 {
  top: 0px;
  left: 0px;
  color: #000000;
  position: absolute;
  align-self: flex-start;
  font-family: Poppins;
}
.inicio-de-sesion-textinput {
  top: 17px;
  left: 0px;
  width: 292px;
  height: 32px;
  position: absolute;
  align-self: flex-start;
  border-color: #656565;
  border-width: 1px;
}
.inicio-de-sesion-container4 {
  width: 312px;
  height: 62px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.inicio-de-sesion-text3 {
  top: 0px;
  left: 0px;
  color: rgb(0, 0, 0);
  position: absolute;
  align-self: flex-start;
  font-family: Poppins;
}
.inicio-de-sesion-textinput1 {
  top: 17px;
  left: 0px;
  width: 292px;
  height: 32px;
  position: absolute;
  align-self: flex-start;
  border-color: #656565;
  border-width: 1px;
}
.inicio-de-sesion-container5 {
  width: 312px;
  height: 100px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.inicio-de-sesion-navlink1 {
  display: contents;
}
.inicio-de-sesion-get-started {
  height: 60px;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: 10px;
  align-items: center;
  margin-left: 0px;
  justify-content: center;
  text-decoration: none;
  background-color: #00bb65;
}
.inicio-de-sesion-text4 {
  color: rgb(12, 16, 12);
  font-size: 16px;
  align-self: center;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
}
.inicio-de-sesion-text5 {
  color: #000000;
  align-self: center;
  margin-top: 10px;
  font-family: Poppins;
  text-decoration: underline;
}
.inicio-de-sesion-div {
  width: 605px;
  height: 1px;
  align-self: center;
  margin-top: 30px;
  border-color: #000000;
  border-width: 1px;
}
.inicio-de-sesion-container6 {
  width: 312px;
  height: 0px;
  top: -350px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.inicio-de-sesion-text6 {
  color: #000000;
  width: 312px;
  height: 23px;
  font-size: 1.6em;
  align-self: center;
  margin-top: 30px;
  text-align: center;
}
.inicio-de-sesion-navlink2 {
  display: contents;
}
.inicio-de-sesion-get-started1 {
  height: 71px;
  display: flex;
  align-self: center;
  margin-top: 25px;
  border-color: #656565;
  border-width: 1px;
  text-decoration: none;
  background-color: #00bb65;
}
.inicio-de-sesion-text7 {
  color: rgb(12, 16, 12);
  font-size: 16px;
  align-self: center;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
}
@media(max-width: 991px) {
  .inicio-de-sesion-get-started {
    flex: 1;
  }
  .inicio-de-sesion-get-started1 {
    flex: 1;
  }
}
@media(max-width: 767px) {
  .inicio-de-sesion-get-started {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .inicio-de-sesion-get-started1 {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
}
